/* *{
    border: dashed 2px red;
} */

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family:"Roboto", sans-serif;
    background-color: rgb(216, 216, 227);
  }
  
h4,h3{
    margin: 0;
  }
  
  p {
    margin: 0px; /* or 0 */
  }
  

/* 
body > *{
    border: 2px solid red;
} */

.material-symbols-outlined {
    font-variation-settings:
      'FILL' 1,
      'wght' 900, /* Try 100 to 700+ */
      'GRAD' 0,
      'opsz' 24;
    font-size: 42px;
  }  

.container{
    display: grid;
    grid-template-rows: 1fr 6fr;
    grid-template-columns: 1fr 4fr;
    box-sizing: border-box;
    min-height: 100dvh;
}

.header{
    grid-row: 1/2;
    grid-column: 2/3;
    background-color: white;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 6fr 4fr;
    box-shadow: 0 4px 3px rgba(0, 0, 0, 0.2);
    /* & * {border: 2px solid red;} */
    height: 150px;
    padding: 10px;
}

.header-upper{
    grid-column: 1/3;
    display: grid;
    grid-template-columns: 7fr 3fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center;
}

.header-upper .search-div{
    grid-row: 1;
    grid-column: 1/2;
    display: flex;
    gap: 15px;
  input{
    border-radius: 12px;
    padding: 4px;

  }
  span{
    display: flex;
    /* align-items: center; */
  }
}

.search-bar{
    max-width: 100%;
  min-width: 0; 
  /* max-width: 600px; */
  flex: 1;
  width: 100%;
}

.header-upper .header-profile>*{
  padding: 5px;
}

.header-profile{
    height: 50px;
    display: flex;
    align-items: center;
}
.header-profile > *{
    margin: 5px;
}

.header-profile img{
    width: 30px;
}

.header-lower{
    display: grid;
    grid-row: 2/3;
    grid-column: 1/3;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    justify-items: start;
    /* padding-left: 20px; */
    /* align-items: center; */
    padding: 2px;

}

.header button{
    border-radius: 25px;
    padding: 15px 35px;
    /* margin-left: 20px; */
    background-color: rgb(84, 145, 230);
    color: white;
    border: none;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.header-buttons{
    display: grid;
    grid-column: 2/3;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    gap: 20px;
    justify-items: center;
}

.header-name{
    display: grid;
    grid-column: 1/2;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items:start;
    padding-left: 40px;
}
.header-name div{
    grid-column: 2/3; 
   grid-row: 1/2;
}
.header-name img{
    /* justify-self: center; */
    /* align-self:center; */
    grid-column: 1/2; 
    grid-row: 1/2;
    width: 60px;
    /* height: 30px; */
    padding: 0px 10px;
}


.sidebar{
    grid-row: 1/3;
    grid-column: 1/2;
    font-size: 2rem;
    display: grid;
    /* grid-template-rows: 1fr 6fr 3fr 6fr; */
    grid-template-rows: 45px 300px 150px;
    gap: 25px;
    background-color: rgb(83, 125, 205);
    color: white;
    padding: 20px;
    /* position: fixed; */
    min-width: 242px;
    /* height: 100%; */
}

.dashboard{
   margin: 0%;
   padding: 0%;
   font-weight: 550;
}

.sidebar-options-menu,.sidebar-settings-menu{
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(0px,1fr));
    align-items: center;
}

.sidebar-contents,.sidebar-settings{
    font-size: 2rem;
}

.content-containers{
    grid-row: 2/3;
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 50px;
}

.title{
    display: grid;
    justify-content: start;
    align-content: end;
    font-size: 1.2rem;
}

.main-content-containers{
    grid-column: 1/2;
    display: grid;
    grid-template-rows: 40px repeat(auto-fit, minmax(150px, 1fr));
    margin: 20px;
    height: 100vh;
    gap: 20px;
    max-height: 100%;
}

.main-content-containers>h3{
    grid-column: 1/3;
}

.main-content-containers>div{
    max-height: 100%;
    display: grid;
    grid-template-rows: 4fr 1fr;
    background-color: white;
    border-radius: 10px;
    justify-items: start;
    /* height: 200px; */
    /* width: 400px; */
    /* max-height: 100%; */
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
    padding: 30px;
    border-left: solid 8px rgb(236, 174, 18);
    
    /* &>*{
        border: 2px solid red;
    } */

}

.main-content-containers-options{
    display: flex;
    grid-row: 2/3 ;
    width: 100%;
    justify-content: end;
    align-items: center;
    /* justify-content: flex-end; */
}

.main-content-containers-options>span{
    display: grid;
    /* border: 2px solid red; */
}

span{
    padding: 0px 10px;
}

.side-content-containers{
    gap: 20px;
    grid-column: 2/3;
    display: grid;
    grid-template-rows: 40px 1fr 40px 1fr;
    margin: 20px;
    margin-left: 0%;
    /* height: 100px; */
}


.side-content-containers .announcements{
    display: grid;
    grid-template-rows: repeat(auto-fit,minmax(20px,1fr));
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px;
}

.side-content-containers .trending{
    display: grid;
    grid-template-rows: repeat(auto-fit,minmax(20px,1fr));
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px;
}

.announcements, .trending{
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    padding: 30px;
}

.divider {
    border-top: 0.5px solid #321010;
    margin: 20px 0;
  }

.trending>*{
    display: flex;
    /* border: solid 2px red; */
    align-items: center;
}

.trending img{
    width: 55px;
    height: 55px;
    border-radius: 50px;
    margin: 0px 10px;
    border: 1px solid black;
}

